.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(60px, auto);
    grid-gap: 1em;
}

.wrapper > div {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#one, #six {
    background: #c20069;
}

#two, #seven {
    background: #7a5ca9;
}

#three, #eight {
    background: #827ec5;
}

#one {
    grid-column: 1/4;
    grid-row: 1/2;
}

#two {
    grid-column: 1/2;
    grid-row: 2/4;
}

#three {
    grid-column: 2/3;
    grid-row: 2/3;
}

#four {
    background: #97d3db;
    grid-column: 3/4;
    grid-row: 2/3;
}

#five {
    background: #ce79d3;
    grid-column: 2/4;
    grid-row: 3/4;
}

#six {
    grid-column: 1/3;
    grid-row: 4/5;
}

#seven {
    grid-column: 3/4;
    grid-row: 4/5;
}

#eight {
    grid-column: 1/4;
    grid-row: 5/6;
}